@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: auto;
}
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.input{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;  
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}
.input-address {
    flex: 0.8;
    background-image: url(../image/home.svg);
    padding-left: 35px;
}
.input-search{
    background-image: url(../image/Vector.svg);
    width: 300px;
}
.buttons{
    display: flex;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    padding: 8px 16px; 
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.button-primary{
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
    margin-right: 10px;
}
.button-card-text{
    margin-right: 5px;
}
.button-icon{
    margin-right: 4px;
}
.section-heading{
    display: flex;

    margin-bottom: 44px;
}
.section-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-right: 30px;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin-bottom: 30px;
    flex-basis: 30%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.card-image{
    width: 384px;
height: 212.23px;
}
.card-text{
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}
.card-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.card-tag{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}
.card-info{
   display: flex;
    align-items: center;
    flex-wrap: 15px;

}
.card-buttons{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.card-price-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 30px;
}
.rating{
    margin-right: 26px;
    color: #FFC107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}
.category,.price{
    color: #8C8C8C;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
}
.price{
    margin-right: 10px;
}
.price:after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}
.main{
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.footer{
    padding: 60px 0;
}
.footer-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-link{
    display: inline-block;
    color: #595959;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.footer-link:not(:last-child){
    margin-right: 15px;
}
.footer-nav{
    margin-right: auto;
    margin-left: 35px;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-link:not(:last-child){
    margin-right: 31px;
}
/* корзина */

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
.is-open{
    display: flex;
}
.modal-dialog{
    max-width: 780px;
    width: 95%;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
}
.modal-title{
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.modal-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-button{
    display: flex;
    align-items: center;
}
.modal-body{
    margin-bottom: 60px;
}
.pricetag{
    background: #262626;
    border-radius: 5px;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 23px;
}
.close{
    border: none;
    background-color: transparent;
    font-size: 36px;
}
.food-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;
}
.food-name{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.food-price{
    margin-left: auto;
    margin-right: 47px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
.counter-button{
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    border-radius: 2px;
    width: 39px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #40A9FF;
}
.food-counter{
    display: flex;
    align-items: center;
}
.counter{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
/* media */

@media (max-width:1366px){
   .container{
    max-width: 960px;
   }
   .promo{
    background-size: 1450px;
    background-position: top right;
   }
   .category{
    font-size: 14px;
   }
   .rating{
    margin-right: 15px;
   }
}
@media(max-width:992px){
    .container{
        max-width: 750px;
    }
    .promo{
       padding: 50px;
       background-size: 1400px;
    }
    .card{
        flex-basis: 49%;
    }
    .promo-text{
        font-style: 18px;
        min-width: 400px;
    }
    .footer-link{
        font-style: 16px;
    }
}
@media(max-width: 768px){
    .container{
        min-width: 560px;
    }
    .main{
        min-width: 560px;
    }
}